.todoform {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  width: 40%;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.ModernInput {
  border-radius: 5px;
  width: 100%;
  border: none;
  display: block;
  color: black;
  font-size: 16px;
}
.moduleButton {
  display: inline-block;
  border: none;
  border-radius: 4px;
  background-color: #ffd500;
  padding: 12px;
  color: white;
  cursor: pointer;
}
.inputContainer {
  display: flex;
}
